.contents_row
  .contents_row__weather
    weather forecast
    .contents_row__weather__result-city-name
    .contents_row__weather__result-temp 
    .contents_row__weather__result-weather
    .contents_row__weather__result-icon
  .contents_row__left
    - @tweets.each do |tweet|
      = render partial: "tweet", locals: { tweet: tweet }
  .contents_row__right
    .contents_row__right__ranking      
      .contents_row__right__ranking__title
        Favorite Ranking
      - @ranking.each.with_index(1) do |user,index|
        .contents_row__right__ranking__title__user
          = index 
          位・・・
          = user.nickname