.contents_row
  .contents_row__weather
    weather forecast
    .contents_row__weather__result-city-name
    .contents_row__weather__result-temp 
    .contents_row__weather__result-weather
    .contents_row__weather__result-icon
  .contents_row__left
    - @tweets.each do |tweet|
      = render partial: "tweet", locals: { tweet: tweet }
  .contents_row__right
    .contents_row__right__ranking      
      .contents_row__right__ranking__title
        Favorite Ranking
      - @ranking.each.with_index(1) do |user,index|
        .contents_row__right__ranking__title__user
          = index 
          位・・・
          = user.nickname
    .contents_row__right__advertisement
      %a{href: "https://px.a8.net/svt/ejp?a8mat=2ZPIWE+5EORLE+AD2+2BE6PD", rel: "nofollow"}
        %img{alt: "", border: "0", height: "60", src: "https://www27.a8.net/svt/bgt?aid=180909806327&wid=001&eno=01&mid=s00000001343014007000&mc=1", :width => "120"}/
        %img{alt: "", border: "0", height: "1", src: "https://www15.a8.net/0.gif?a8mat=2ZPIWE+5EORLE+AD2+2BE6PD", width: "1"}/
