.contents_row
  .contents_row_left
    .username
      %p= @nickname
    - @tweets.each do |tweet|
      .content_post{:style => "background-image: url(#{tweet.image});"}
        = simple_format(tweet.prefectures&.first&.prefecture)
