*{
  box-sizing: border-box;
}

.lime {
  position: fixed;
  z-index: 5;
}

.contents_row{
  padding-top: 64px;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
}

.contents_row_weather{
  width: 10%;
  color: white;
  padding-top: 64px;
  padding-bottom: 30px;
  font-size: large;
  position: fixed;
}

.result-city-name{
  padding-top: 15px;
}

.contents_row_left{
  width: 80%;
}

.contents_row_right{
  width: 30%;
  color: white;
  display: block;
}

.content_post{
  margin: auto;
  height: 400px;
  width: 700px;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  position: relative;
  font-size: 50px;
  color: White;
  margin-bottom: 50px;
}
.form{
  text-align: center;
  color:white;
}
.name{
  font-size: 25px;
}
.more{
  font-size: 12px;
}

.prefectures{
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 70px;
}

.username{
  font-size: 30px;
  text-align: center;
  color: white;
}

#tweet_prefecture_ids{
  display: block;
}

.field{
  padding-bottom: 10px;
}

.fa-heart{
  color: red;
  background-color: black;
}

.edit_like{
  text-align: right;
}
.new_like{
  text-align: right;
}

.ranking_title{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: x-large;
  text-align: center;
}

.user{
  height: 100px;
  padding-bottom: 30px;
  line-height: 100px;
  font-size: large;
  text-align: center;
}

.new_tweet{
  padding-top: 64px;
}

.success{
  padding-top: 64px;
}

.active{
  color: red;
  text-align: center;
}

.result-city-name{
  padding-bottom: 20px;
  font-size: x-large;
  text-align: center;
}

.result-temp{
  padding-bottom: 20px;
  font-size: x-large;
  text-align: center;
}

.result-weather{
  padding-bottom: 20px;
  font-size: x-large;
  text-align: center;
}

.result-icon{
  text-align: center;
}